<h1>photo market inc</h1>

<div id="images">
  <% if @images.any? %>
    <% @images.each do |image| %>
      <div class="image-<%=image.id%>">
        <%= image_tag image.file.url, style: 'width: 200px; height: auto' %>
        <p><%= image.name %></p>
      </div>
    <% end %>
  <% else %>
    <p>No images yet!</p>
  <% end %>
</div>